<div class="container">
  <h3>UPCOMING EVENT</h3>
  <div class="row">
    <div class="col s12 m7">
      <div class="card" (click)='onEventPage()'>
        <div class="card-image">
          <img src="../../assets/images/card-image-1.jpg">
          <span class="card-title">Heidelberg Art</span>
          <span>15-20 March 2020</span>
        </div>
        
      </div>
    </div>
  </div>

  <div >
    <span (click)="onCreateEvent()">
      <i class="medium material-icons">add</i>
    </span>
  </div>


</div>