<div class="navbar-fixed">
  <nav>
    <div class="container">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">MALEREI</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/gallery" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Gallery</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
</div>