<div class="navbar-fixed">
  <nav>

    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">M A L E R E I</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >E V E N T S</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/gallery" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">G A L L E R Y</a>
        </li>
      </ul>
    </div>

  </nav>
</div>
