mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
} 
.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
.col.s6 {
    position: relative;
}
.default-image img{
    width: 100%;
    opacity: 0.5;
}
span.upload-icon{
    position: absolute;
    top: 112px;
    right: 72px;
}
.upload-icon img{
    width: 40%;
    border-radius: 50px;
    cursor: pointer;
}