<div class="container">
  <h3>Add Event</h3>

  
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <div class="row">
      <div class="col s6">
    
        <form [formGroup]="form" (submit)="onSaveEvent()" *ngIf="!isLoading">
          <mat-form-field >
            <mat-label>Event name</mat-label>
            <input matInput type="text" formControlName="name" placeholder="Event name">
            <mat-error *ngIf="form.get('name').invalid">Please enter a event name.</mat-error>
          </mat-form-field>
          <br>
          <br>
          <br>
          <mat-form-field >
            <mat-label>Event start date</mat-label><br>
            <input matInput [matDatepicker]="picker1" formControlName="from" placeholder="From">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="form.get('from').invalid">Please enter a event start date.</mat-error>
          </mat-form-field>
          <br>
          <br>
          <br>
          <mat-form-field >
            <mat-label>Event end date</mat-label><br>
            <input matInput [matDatepicker]="picker2" formControlName="to" placeholder="To">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
            <mat-error *ngIf="form.get('to').invalid">Please enter a event end date.</mat-error>
          </mat-form-field>
          <br>
          <br>
          <br>
          <mat-form-field>
            <mat-label>Event Time</mat-label><br>
            <input matInput type="text" formControlName="time" placeholder="Event time">
            <mat-error *ngIf="form.get('time').invalid">Please enter a event time.</mat-error>
          </mat-form-field>
          <br>
          <br>
          <br>
          <mat-form-field>
            <mat-label>Event Address</mat-label><br>
            <textarea matInput rows="2" formControlName="location" placeholder="Event location"></textarea>
            <mat-error *ngIf="form.get('location').invalid">Please enter a event location.</mat-error>
          </mat-form-field>
          <br>
          <br>
          <br>
          <br>
          <button mat-raised-button color="accent" type="submit">Save Event</button>
        </form>
      </div>

      <div class="col s6">
        <span class="default-image"><img src="../../../assets/images/card-image-1.jpg"></span>
        <span class="upload-icon" (click)="filePicker.click()">
          <img src="../../../assets/images/upload-icon.png">
          <input type="file" #filePicker (change)="onImagePicked($event)">
        </span>
        <div class="image-preview" *ngIf="image_url !== '' && image_url && form.get('image').valid">
          <img [src]="image_url" [alt]="form.value.title">
        </div>
        <!-- <div>
          <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
          <input type="file" #filePicker (change)="onImagePicked($event)">
        </div>
        <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
          <img [src]="imagePreview" [alt]="form.value.title">
        </div> -->
      </div>
    </div>
  
  


</div>