    <h1>Create Painting</h1>
      <div class="row">
        <div class="col s6">

          <div class="create_painiting_form">
              <form class="example-form" [formGroup]="form" (submit)="submitArt()">
                  <mat-form-field class="example-full-width">
                      <mat-label>Name</mat-label>
                      <input matInput placeholder="Give a name to your painting" formControlName="title">
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                      <mat-label>Artist</mat-label>
                      <input matInput placeholder="Artist name" formControlName="artist">
                  </mat-form-field>

                  <label class="form-label-large">Details</label><br>
                  <mat-form-field class="example-full-width-padding">
                      <mat-label>Dimenstion</mat-label>
                      <input matInput placeholder="Dimension (Length X Breadth) in cms" formControlName="dimension">
                  </mat-form-field>

                  <mat-form-field class="example-full-width-padding">
                      <mat-label>Location</mat-label>
                      <input matInput placeholder="Location" formControlName="location">
                  </mat-form-field>

                  <mat-form-field class="example-full-width-padding">
                      <mat-label>Type</mat-label>
                      <input matInput placeholder="Type" formControlName="type">
                  </mat-form-field>

                  <label class="form-label-large">Bid</label>

                  <mat-form-field class="example-full-width-padding">
                      <mat-label>Expiry</mat-label>
                      <input matInput [matDatepicker]="picker1" placeholder="Expiry" formControlName="expiry">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field class="example-full-width-padding">
                      <mat-label>Starting Price</mat-label>
                      <input matInput placeholder="Starting Price" formControlName="starting_price">
                  </mat-form-field>
                  <div class="btn-container">
                      <button mat-raised-button style="background-color: #ffab40; color: white;margin-right: 1rem">Clear</button>
                      <button mat-raised-button style="background-color: darkolivegreen; color: white">Submit</button>
                  </div>
              </form>
          </div>










        </div>
        
        <div class="col s6">
            <div class="upload-image">
               
                <label class="btn" for="uploadedhere" style="background-color: darkolivegreen;margin-left: 2rem;color: white">Upload Picture</label>
                <input type="file" id="uploadedhere" style="display: none;" (change)="uploadPicture($event)">
                   
              
              <!-- <input type="file" id="uploadedhsere" onchange="myfun()" style="margin-left: 2rem;color: darkolivegreen;"> -->
              <br>
              <br>
              <img [src]="imagePreview" id="changeimage1" style="margin-left: 2rem;max-height: 500px;max-width: 500px;">

                
                 
                
                <!-- <img class="profile-pic" [src]="defaultExhibitorImage" />
                <i class="material-icons upload-button camera" (click)="open($event)">
                    add_circle
                </i>
                <input class="file-upload" (change)="fileUpload($event)" type="file" accept="image/jpg, image/png, image/jpeg" /> -->
              </div>

        </div>
        
      </div>
