h1 {
    font-size: 2rem;
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0;
    text-align: center;
}
html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }
body::after{ content:''; display:block; height:100px; }
.create_painiting_form {
    margin-left: 10%;
    margin-right: 25%;
}
.form-label {
    color: black;
}
.form-label-large{
    font-size: 1.5rem;
    font-weight: 300;
    color: black;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: darkolivegreen;
    opacity: 1; /* Firefox */
  }

.btn-container {
    text-align: right;
}

