html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }
body::after{ content:''; display:block; height:100px; }
h1 {
    font-size: 2rem;
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0;
    text-align: center;
}

td{
    padding: 5px 10px;
}
.create_painiting_form {
    margin-left: 10%;
    margin-right: 25%;
    margin-top: 5%;
    width: 100%;
}
.form-label {
    color: black;
    margin-top:1rem;
}
.form-label-large{
    font-size: 2rem;
    font-weight: 300;
    color: black;
}
.form-label-medium{
    font-size: 1.5rem;
    font-weight: 100;
    color: darkolivegreen;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: darkolivegreen;
    opacity: 1; /* Firefox */
  }

.btn-container {
    text-align: right;
}

.table-header {
    font-size: larger;
    font-weight: 500;
    color: darkolivegreen;
}


.bid-table {
    width: 100%;
    background-color: transparent;
    margin-left: 10rem;
    margin-right: 2rem;

}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label{
    color: darkolivegreen;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple{
    background-color: darkolivegreen;
}

::ng-deep .mat-form-field-underline .ng-tns-c4-0 .ng-star-inserted{
    background-color: darkolivegreen;
}
