<html>
  <body>

<!--    <app-header></app-header>-->
    <div class="search_box">
       <div class="search">         
             <input placeholder="Search by Artist or Location" type="text"/>       
       </div>
       <div class="art_type_filter">
            <label style="color: black;">
              <input type="checkbox"/>
              <span style="margin-right: 2rem;">Oil</span>
            </label>
            <label style="color: black;">
              <input type="checkbox"/>
              <span style="margin-right: 2rem;">Watercolor</span>
            </label>
            <label style="color: black;">
              <input type="checkbox" />
              <span style="margin-right: 2rem;">Pastel</span>
            </label>
            <label style="color: black;">
              <input type="checkbox"/>
              <span style="margin-right: 2rem;">Acrylic</span>
            </label>
            <label style="color: black;">
              <input type="checkbox"/>
              <span style="margin-right: 2rem;">Spray</span>
            </label>
            <label style="color: black;">
              <input type="checkbox"/>
              <span style="margin-right: 2rem;">Ink Wash</span>
            </label>
           
         </div>
    </div>
    <div class="gallery" >
      

        <div class="row">
          <div *ngFor = "let art of arts">
            <gallery-card 

              [title]="art.name"
              [artist]="art.artist"
              [current_bid]="art.curr_bid"
              [expiry]="art.expiry" 
              [detail]="art._id"
              [image]="art.image_url">
            </gallery-card>
          </div> 

          <a href="/create-painting" class="btn-floating btn-large waves-effect waves-light white" style="position: fixed;bottom: 3rem;right: 4rem;"><i class="material-icons" style="color:#ffab40">add</i></a>
        </div>
      </div>

  </body>
  </html>
