<html>
  <body>

    <app-header></app-header>
    <div class="search_box">
      
    </div>
    <div class="gallery">
      

        <div class="row">
          
          <gallery-card 
            [title]="title"
            [artist]="artist"
            [current_bid]="current_bid"
            [expiry]="expiry" 
            [detail]="detail" 
            [description]="description" 
            [image]="image">
          </gallery-card>
          
          
          
          <gallery-card [title]="title" [detail]="detail" [description]="description" [image]="image"></gallery-card>
          <gallery-card [title]="title" [detail]="detail" [description]="description" [image]="image"></gallery-card>
          <gallery-card [title]="title" [detail]="detail" [description]="description" [image]="image"></gallery-card>
          <gallery-card [title]="title" [detail]="detail" [description]="description" [image]="image"></gallery-card>
          <gallery-card [title]="title" [detail]="detail" [description]="description" [image]="image"></gallery-card>
          <a class="btn-floating btn-large waves-effect waves-light white" style="position: fixed;bottom: 3rem;"><i class="material-icons" style="color:#ffab40">add</i></a>
        </div>
      </div>
      <app-footer></app-footer>
  </body>
  </html>