.search_box {
    background: white;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 4%;
    height: 10rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px 0px;
}
.gallery {
    margin-right: 5%;
    margin-left: 5%;
    margin-top:5%; 
}
.card { 
    max-width: 25rem;
}