/* 
.header-img img {
    width: 100%;
    height: 700px;
}

.card{
    width: 100%;
    box-shadow: 1px 1px 5px rgba(10, 10, 10, 1);
    cursor: pointer;
} */

/* .parallax-container .parallax img{
    opacity: none;
    width: 100%;
} */
h5.text-center {
    text-align: center;
    cursor: pointer;
}
h3{
    text-align: center;
}

.register-form{
    display: inline;
}