
    <div class="parallax">
        <div class="login">
        </div>
    </div>


  <div class="container">
    <h2>U P C O M I N G  &nbsp;  E V E N T S</h2>
        <div class="row" >
          <div class="col-sm-4" *ngFor="let exhibition of exhibitions | slice : 0:3" let i ="index">
            <mat-card class="example-card" [routerLink]="['/event-details',exhibition.id]">
                <img mat-card-image src="{{exhibition.image_url}}" >
                <!-- <mat-card-header>
                    <mat-card-title>{{exhibition.name}}</mat-card-title>
                </mat-card-header> -->
                <mat-card-content>
                  <h5>{{exhibition.name}}</h5>
                  <p>{{exhibition.time | date: 'mediumDate'}} &nbsp;to  {{exhibition.location | date: 'mediumDate'}}</p>
                </mat-card-content>     
            </mat-card>
         </div>
        </div>
    <h3 class="mt-5 pt-5" [routerLink]="['/display-event']">M O R E</h3>
  </div>
  <!-- <div class="section grey">
      <div class="row container">
          <h2 class="header" style="text-align: center;font-size:2rem">A B O U T</h2>
          <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
      </div>
  </div> -->


